html,
body,
#app,
#app > div {
  height: 100%;
  background-color: rgb(230, 242, 255) !important;
}
body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Calibri, Candara, Segoe,
    "Segoe UI", Optima, Arial, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: small !important;
}
.card-header {
  background-color: rgb(230, 242, 255) !important ;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.viewer-name {
  padding: 20px;
}
.index-title {
  padding: 10px;
}
.profile-pic {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
