body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 2px 16px;
  position: relative;
}
.viewer-name {
  padding: 6px;
}

.profile-pic {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-style:solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.twitchDisplayName{

}